// bower:scss
// endbower
@import 'reset', 'helpers/index', 'globals/index', 'components/index';

* {
  box-sizing: border-box;
  transition: .3s;
}

html {
}

body {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: $font-family-primary;
  color: #333;
  background: linear-gradient(180deg, color(blue-40),
  color(blue-30),
  color(blue-20));
}

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}
