.button {
  background-color: color(gray-30);
  background-size: 100% 100px;
  background-position: bottom center;
  color: color(white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: em(16);
  height: 50px;
  padding: ($padding / 2) $padding;
  margin: $margin / 2 $margin $margin /2 0;
  border-radius: 4px;

  &:hover {
    background-color: color(gray-20);
  }
}

.grow {
  &:hover {
    @include transform(scale, 1.1);
  }
}

.shrink {
  &:hover {
    @include transform(scale, 0.9);
  }
}

.pulse {
  &:hover {
    @include animate(pulse);
  }
}

.pulse-grow {
  &:hover {
    @include animate(pulse-grow);
  }
}

.pulse-shrink {
  &:hover {
    @include animate(pulse-shrink);
  }
}

.push {
  &:hover {
    @include animate(push, .3s, 1);
  }
}

.pop {
  &:hover {
    @include animate(pop, .3s, 1);
  }
}

.bounce-in {
  &:hover {
    @include transform(scale, 1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
}

.bounce-out {
  &:hover {
    @include transform(scale, 0.8);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
}

.rotate {
  &:hover {
    @include transform(rotate, 5deg);
  }
}

.grow-rotate {
  &:hover {
    @include transform-two(rotate, 5deg, scale, 1.2);
  }
}
