.button {
  background-color: color(gray-20);
  color: color(white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: em(16);
  height: 50px;
  padding: ($padding / 2) $padding;
  margin: $margin / 2 $margin $margin /2 0;
  border-radius: 4px;
}

.grow {
  &:hover {
    @include transform(scale, 1.1);
  }
}

.shrink {
  &:hover {
    @include transform(scale, 0.9);
  }
}

.pulse {
  &:hover {
    @include animate(pulse);
  }
}

.pulse-grow {
  &:hover {
    @include animate(pulse);
    @include transform(scale, 1.1);
  }
}
