header {
  padding: ($padding / 2) $padding;
  background-color: color(yellow-30);
  display: flex;
  align-items: center;
  border-radius: 4px 4px 0 0;

  &:hover {
    background-color: color(yellow-50);

    h1 {
      color: color(black-40);
    }
  }
  h1 {
    font-size: em(32);
    font-weight: 300;
    color: color(black-50);
  }
}
