$font-family-primary: 'Roboto', sans-serif;
$base-font-size: 16px;

$margin: $base-font-size * 2;
$padding: $base-font-size * 2;

$palette: (
  red: #ff7473,
  red-10: lighten(#ff7473, 20%),
  red-20: lighten(#ff7473, 10%),
  red-30: lighten(#ff7473, 5%),
  red-40: #ff7473,
  red-50: darken(#ff7473, 10%),
  red-60: darken(#ff7473, 20%),
  red-70: darken(#ff7473, 30%),
  red-80: darken(#ff7473, 40%),
  yellow: #ffc952,
  yellow-10: lighten(#ffc952, 30%),
  yellow-20: lighten(#ffc952, 20%),
  yellow-30: lighten(#ffc952, 10%),
  yellow-40: lighten(#ffc952, 5%),
  yellow-50: #ffc952,
  yellow-60: darken(#ffc952, 5%),
  yellow-70: darken(#ffc952, 10%),
  yellow-80: darken(#ffc952, 20%),
  blue-10: lighten(#47b8e0, 30%),
  blue-20: lighten(#47b8e0, 20%),
  blue-30: lighten(#47b8e0, 10%),
  blue-40: #47b8e0,
  blue-50: darken(#47b8e0, 10%),
  blue-60: darken(#47b8e0, 20%),
  blue-70: darken(#47b8e0, 30%),
  blue-80: darken(#47b8e0, 40%),
  purple-10: lighten(#34314c, 60%),
  purple-20: lighten(#34314c, 50%),
  purple-30: lighten(#34314c, 40%),
  purple-40: lighten(#34314c, 30%),
  purple-50: lighten(#34314c, 20%),
  purple-60: lighten(#34314c, 10%),
  purple-70: lighten(#34314c, 5%),
  purple-80: #34314c,
  gray-10: #e3dede,
  gray-20: #a3a1a1,
  gray-30: #8b8687,
  black-10: #343434,
  black-20: lighten(#343434, 5%),
  black-30: lighten(#343434, 10%),
  black-40: lighten(#343434, 15%),
  black-50: lighten(#343434, 20%),
  white: #f4f4f4
);
